/* Reinicio de márgenes y rellenos para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal con ancho máximo y centrado */
.contenedor_principal {
    max-width: 1600px;
    margin: 0 auto;
}

/* Espaciado superior de 40px */
.mt-40 {
    margin-top: 40px;
}

/* Espaciado inferior de 40px */
.mb-40 {
    margin-bottom: 40px;
}

/* Diseño de cuadrícula para la disposición del formulario y otros elementos */
.layout {
    display: grid;
    grid-template-areas: "form grid-container";
    grid-template-columns: 400px 1fr; /* Columna fija de 400px y otra autoajustable */
    gap: 1rem; /* Espacio entre elementos */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse; /* Combina los bordes de la tabla */
}

/* Estilos para celdas de tabla */
th, td {
    border: 2px solid #f74780;
    padding: 12px; /* Aumenta el padding para mayor espacio interno */
    text-align: center;
}

/* Fondo y estilo de encabezados de tabla */
th {
    background-color: #ffb3c6;
}

/* Estilos para el formulario */
form {
    background-color: #ffb3c6;
    border: 5px solid #f74780;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 16px; /* Aumenta el espacio entre elementos del formulario */
    border-radius: 12px; /* Aumenta el radio de borde para esquinas más redondeadas */
}

/* Estilos generales para inputs, selects y botones */
input, select, button {
    padding: 14px; /* Aumenta el padding para mayor confort en la interacción */
    border: 2px solid #f74780;
    border-radius: 8px;
    outline: none; 
}

/* Estilos específicos para botones */
button {
    margin-top: 20px; /* Reduce el margen superior para una alineación más compacta */
    background-color: #ff8fab;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Añade transición suave para hover */
}

/* Efecto hover para botones */
button:hover {
    background-color: #fb6f92;
    color: white;
}

/* Estilos para etiquetas */
label {
    color: #000000;
    font-size: 18px; /* Aumenta el tamaño de fuente para mejor legibilidad */
}

/* Estilo para inputs con error */
.error {
    border: 2px solid #bd0003;
}

/* Estilo para inputs correctos */
.correcto {
    border: 2px solid #5ccb5f;
}

/* Mensajes de error */
.error-message {
    color: #bd0003;
    font-size: 14px; /* Ajusta el tamaño del texto del mensaje de error */
}

/* Estilos para el contenedor de checkbox y botones */
.button__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px; /* Aumenta el espacio entre elementos */
    margin-top: 20px;
}

/* Estilo para botones deshabilitados */
button[disabled] {
    cursor: not-allowed;
    opacity: 0.5; /* Añade opacidad para indicar estado deshabilitado */
}

